body {
	font-family: Circe,-apple-system,system-ui,BlinkMacSystemFont,sans-serif;
	padding: 0;
	margin: 0;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	font-weight: 900;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 24px;
}

.container {
	margin: 0 auto;
	max-width: 860px;
	padding: 0 20px;
	/*border: 2px dashed black;*/ /*рамка для просмотра центровщика*/
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.hidden {
	display: none;
}

header {
	background-color: #5199FF;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}

.options,
.options-2 {
	border-left: 2px dashed #DF8600;
	padding-left: 20px;
	margin-bottom: 20px;
}

.option {
	display: inline-block;
	height: 60px;
	border:  2px solid #DF8600;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0;
}

/*@media (max-width: 685px) {
	.amount {
		width: 25%;
	}
	.diap {
		width: 50%;
	}
}*/

.diap {
	width: 400px;
	margin-right: 5px;
}

.amount {
	width: 200px;
	margin-right: 5px;
}

.operations {
	width: 140px;
	position: relative;
	bottom: 26px;
}

.operations table {
	position: relative;
	top: 3px;
	left: 3px;
}

.p-option {
	padding: 0;
	margin: 0;
}

.column {
	font-size: 16px;
	border: 2px solid black;
	border-radius: 5px;
	width: 99%;
	margin-bottom: 10px;
	padding: 20px 0;
	text-align: center;
}

.l {
	float: left;
	width: 49%;
	/*border: 2px dashed red;*/
}

.r {
	float: right;
	width: 49%;
	/*border: 2px dashed red;*/
}

.right {
	border-color: #41B619;
	background-color: #C9FFBF;
	float: left;
	/*margin-right: 10px;*/
}

input, 
input:active, 
input:focus {
    outline: none;
}

input[type=range] {
	position: relative;
	top: 5px;
	-webkit-appearance: none
}

input[type=range]::-webkit-slider-runnable-track {
	background-color: rgba(204, 204, 204, 0.5);
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: rgb(206, 126, 7);
	width: 10px;
	height: 20px;
	cursor: pointer;
}

input[type=range]::-moz-range-track {
	background-color: rgba(204, 204, 204, 0.5);
}
 
input[type=range]::-moz-range-thumb {
	background-color: rgb(206, 126, 7);
	width: 10px;
	height: 20px;
	cursor: pointer;
}

input[type="range"]::-ms-track {
	background: rgba(204, 204, 204, 0.5);
}
	 
input[type="range"]::-ms-thumb {
	background-color: rgb(206, 126, 7);
	width: 20px;
	height: 20px;
	cursor: pointer;
}

output {
	display: inline-block;
	width: 30px;
	height: 23px;
	margin: 0 5px 10px;
	text-align: center;
	vertical-align: center;
	border: 1px solid #cccccc;
 	border-radius: 5px;
}

.error {
	border-color: #B40A1B;
	background-color: #FFDFDC;
	float: right;
}

.start,
.restart {
	margin-bottom: 20px;
}

.button-margin-right {
	margin-right: 6px;
}

.start-text,
.restart-text {
	display: inline-block;
	background-color: #FBE7B5;
	border: 2px dashed #DF8600;
	border-radius: 5px;
	margin: 0;
	padding: 20px;
	font-weight: 500;
}

.start-button,
.restart-button {
	background-color: #FFAF50;
	font-family: Circe,-apple-system,system-ui,BlinkMacSystemFont,sans-serif;
	font-weight: 500;
	font-size: 16px;
	border: solid 1px #DF8600;
	border-radius: 5px;
	padding: 5px;
}

.start-button:hover {
	background-color: #FFCB8B;
}

.start-button:active {
	border-color: #4140423b;
	color: #00000081;
}

.information,
.answers,
.restart h2 {
	border-left: 2px dashed #DF8600;
	padding-left: 20px;
}
.information h2 {
	margin-bottom: 0;
}

.r-js,
.e-js {
	font-weight: bold;
}
ol {
	text-align: left;
	margin: 0;
}

li {
	font-weight: bold;
	padding-bottom: 16px;
}

li:first-child {
	padding-top: 10px;
}

li:last-child {
	padding-bottom: 0px;
}

.li {
	font-weight: normal;
}

footer {
	background-color: #5199FF;
	padding: 5px 0;
	margin-top: 30px;
	display: block; /* Чтобы при прохождении тренажера его скрыть */
}

footer p {
	font-size: 14px;
}

.content { /* Прижимание футера к низу src="https://qps.ru/cqoHt" 4-ый способ */
	min-height: calc(100vh - 500px);
}

@media (max-width: 400px) {
	.r {
		float: left;
		width: 100%;
	}
	
	.l {
		width: 100%;
	}
}

@media (max-width: 834px) {
	.start-text {
		line-height: 40px;
		padding-bottom: 30px;
	}
}

@media (max-width: 832px) {
	.operations {
		margin-top: 35px;
	}
}

@media (max-width: 791px) {
	.restart-text {
		line-height: 40px;
		padding-bottom: 30px;
	}
}

@media (max-width: 451px) {
	.diap {
		width: 100%;
	}
}

@media (max-width: 419px) {
	.amount {
		margin-top: 10px;
	}
}

@media (max-width: 416px) {
	.diap {
		height: 120px;
	}
}